.layout-header {
    --header-height: 3rem;
    border-bottom: 1px solid #eee;
    height: var(--header-height);

    .layout-header--title {
        text-align: center;
        font-weight: 300;
        color: #eee;
        line-height: var(--header-height);
    }
}