.url-button-group {
    display: flex;
    margin: 0 auto;
    width: 1440px;
    height: 3rem;
}

.url-button-group > a {
    font-size: 0.8rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    text-decoration: none;
    color: #242424;
    height: fit-content;
    align-self: center;
    background-color: #eee;
}

.url-button-group > a:not(:last-child) {
   margin-right: 1rem; 
}