*, *:before, *:after {
  box-sizing: border-box;
  font-size: 18px;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(-45deg in oklab, #242424, #242424, #242424);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.hero {
  width: 1440px;
  padding-block: 4rem;
  margin: 2rem auto;
  padding-inline: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  
  h2 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }
  
  h4 {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
  }
}



.dt-info--title {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  color: white;
  transition: opacity 0.3s ease;
}

.dt-info--square {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
}

.dt-info-block--header {
  display: flex;
  justify-content: space-between;
  padding-block-start: 0.5rem;
}

.dt-icon-container {
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.dt-info-block {
  display: grid;
  border: 1px solid #eee;
  width: 100%;
  min-width: 180px;
  max-width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  padding-inline: 0.875rem;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
}

.dt-info-block:hover > .dt-info-block--desc {
  opacity: 1;
}

.dt-info-block:hover .dt-info--title {
  opacity: 0;
}

.dt-icon-image {
  justify-self: center;
  width: 92px;
  height: auto;
}



.dt-info-block--desc {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  min-height: 100%;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.3rem;
  background-color: rgba(230, 230, 230, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}